<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <script data-ad-client="ca-pub-6791508794346575" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>


    <div class="card">
        <div class="card-header">
            <strong class="card-title">Errors</strong>
        </div>
        <div class="card-body">


            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">@ViewBag.Kaynak</h4>
                <hr>

            </div>
            <a href="@Url.Action("Index","Home")" class="btn btn-primary btn-flat m-b-30 m-t-30"><i class="fa fa-home"></i> Go Home</a>

        </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- yatay1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6791508794346575"
         data-ad-slot="1612626423"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</body>
</html>

